@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Proxima';
    src: url('../fonts/Proxima\ Nova\ Font.otf') format('truetype');
  }
  

/* Utilities */

:root{

    /* Fonts */
    --font1: 'Oswald', sans-serif;
    --font2: 'Proxima', sans-serif


    /* Colors */
    --primaryColor:"";

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1);
}

/* Navbar */

nav{
    width:98%;
    /* border:1px solid black; */
    background-color: #1a5ca3;
    margin:auto;
    margin-top: 5px;
}
.navbarContainer{
    width:1200px;
    /* border:1px solid red; */
    margin:auto;
}
.upperDiv{
    display:flex;
    margin:auto;
    /* border:1px solid white; */
}
.navLogo{
    /* border:1px solid red; */
    padding:0px;
    width:150px;
    display: flex;
    align-items: center;
}
.navMenu{
    display:flex;
    align-items: end;
    margin: 15px 18px;
    width:720px;
    margin:auto;
    margin-bottom:5px;
}
.navButton {
    display:flex;  
    width:26%;
    /* border: 1px solid white; */
    justify-content:left;
}

.upperDiv img{
    width:100%;
    display: flex;
}
.navMenu ul{
    display: flex;
    list-style: none;
    color: white;
    /* border: 1px solid red; */
    margin:auto;
    text-align: end;
}

.navMenu>ul>li>a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin:10px 0px;
    padding:0px 10px;
    border-inline-end: dotted;
    border-inline-end-width:1px;
    display: flex;
}
.navMenu>ul>li>a:nth-child(5){
    border-inline-end: none;
}
.navButton button{
     padding:8px 10px;
     border-radius: 5px ;
     color: white;
     background-color: #E61A39;
     border:none;
     margin:5px 5px;
     
}

/* Lower Div */

.lower{
    background-color: #0b639c;
    width:98%;
    margin:auto;
}
.lowerDiv{
    margin:auto;
    width:1200px;
    
}
.lowerDiv ul{
    display: flex;
    list-style: none;
    font-weight: 400;
    margin:auto;
    padding-bottom: 15px;
}
.lowerDiv a{
    text-decoration: none;
    color:white;   
    border-inline-end: dotted;
    border-inline-end-width:1px;
    font-size: 13px;
    padding-right:10px;
    padding-left: 10px;

}
content{
    width:100%;
    /* border:1px solid black; */
}

#contentContainer{
    width:98%;
    /* border: 1px solid black; */
    margin:auto;
}
#upper{
    text-align: center;
    color:#E61A39;  
    margin-bottom: 30px; 
    margin-top:50px
}
#upper h1{
    font-size: 35px;
}
#lower img{
    width:55%;
}
#lower{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}
#btn {
    margin-top: 30px;
    margin-bottom: 25px;
    padding:15px 50px;
    border-radius:5px;
    border:none;
    color:#D41B35;
    font-family: Proxima;
    font-weight: 500;
}
#container button:hover{
    cursor:pointer;
    background-color: #E61A39;
    border: 1px solid white;
    color:white
}